* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';  
  }
  
body, html {
    color: #000;
    height: auto;
    background: url("bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Block view & download Image */
img {
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
}

/* Block Text selection */
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.h1 {
  color: white;
  text-align: center;
}

.h4 {
   color: white;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 15px;
   background: skyblue;
   padding: 10px;
   width: 92%;
   border: 1px solid black;
   border-bottom: none;
   border-radius: 10px 10px 0 0;
}

.p {
  color: darkblue;
  width: 95%;
  margin: 0 auto;
  font-family: 'open sans';
  font-weight: 550;
  text-align: center;
  font-size: 16px;
}


/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background: #fff;
    color: red;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.logo {
   color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins';
}

nav {
    display: flex;
    align-items: center;
}

.btn, .menu-btn {
    background: none;
    color: black;
    border: none ;
    margin: 6px;
    font-size: 22px;
    cursor: pointer;
    font-family: 'Poppins';
    border-radius: 50px;
    text-decoration: none;
}

/* Login */

.login { 
   background: none;
    color: black;
    border: none ;
    margin: 10px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Poppins';
    border-radius: 50px;
    text-decoration: none;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
   z-index: 999;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.popup-content a {
   display: block;
   padding: 10px;
   background: darkslategrey;
   margin: 10px 0;
   border-radius: 5px;
   font-size: 15px;
   text-decoration: none;
   color: white;
}

.popup-content button {
  margin-top: 10px;
  padding: 5px 20px;
  background: red;
  color: white; 
  border: none; 
  border-radius: 5px; 
}

/* Full-Screen Dropdown */

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    font-family: 'Poppins';
    font-weight: 650;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    z-index: 1000;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
    }

.menu-content a {
    display: block;
    color: white;
    font-size: 24px;
    margin: 15px;
    text-decoration: none;
}

.menu-content a:hover {
    color: #ff6600;
}

/* Close Button */

.close-btn {
    position: absolute;
    bottom: 10%;
    margin: 0 auto;
    font-size: 30px;
    background: none;
    border: none;
    color: red;
    cursor: none;
}
  
/* SLIDER */

.carousel {
    margin: 0 auto;
    width: 93%;
    overflow: hidden;
    border-radius: 10px;
  
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    height: 200px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: none;
    color: white;
    font-size: 2rem;
}

.carousel-container img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

/* --- JOB BUTTON --- */
.job-btn {
    position: absolute;
    bottom: 5px;      
    left: 50%;         
    transform: translateX(-50%);
    padding: 10px;
    width: 98%;
    font-weight: 550;
    background: rgba(255, 255, 0, 0.9); 
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;   
}

/* GOOGLE SEARCH BAR */

.search-main{
    width: 92%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
   margin-bottom: 10px;
   margin-top: 10px;
}

.search{
    flex: 1;
    height: 45px;
    padding: 0 15px;
    background: none;
    border: 1px solid #999;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 550;
    outline: none;
}

.icon{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid #999;
    border-radius: 10px;
    color: grey;
    font-size: 18px;
    cursor: pointer;
    flex-shrink: 0;
}

.search:focus{
    border-color: #007bff;
}

/* main card */
.m-card {
    display: grid;
    gap: 15px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr); 
    padding: 16px;
    margin-top: -15px;
  }

@media (min-width: 768px) {
    .m-card {
      grid-template-columns: repeat(4, 1fr);
    }
  }

/* News */
.scroll-wrapper {
  width: 92%;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
   border-top: none;
   border-radius: 0 0 10px 10px;
   margin: 0 auto;
   margin-top:  -18px;
   margin-bottom: 0;
}

.scroll-wrapper iframe {
  width: 100%;
  height: 800px;          
  animation: scrollUp 15s linear infinite;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-500px); 
     
  }
}

.abhi-btn {
   color: white;
   position: absolute;
   right: 20px;
   margin-top: -35px;
   text-align: right;
   background: green;
   padding: 5px 20px;
   font-size: 13px;
   border-radius: 50px 0px 10px 0;
   border: 1px solid #999;
}

/* CARD ROW */

.card-row{
    width: 92%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media (min-width: 768px){
    .card-row{
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(img/card.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 15px;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
    box-sizing: border-box;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-2px);
}

/* Sarkari Result*/

.iframe-container {
    width: 92%;
    height: 350px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
   margin-top:  -18px;
   border-top: none;
   margin-bottom: 12px;
}

.iframe-container iframe {
    width: 100%;
    height: 3800px;     
    border: none;
    margin-top: -410px; 
    margin-bottom: -450px; 
}

/* Location */
.map-section {
   width: 92%;
   height: 200px;
   position: relative;
   border: 1px solid black;
   border-radius: 0 0 10px 10px;
   margin: 0 auto;
   margin-top: -18px;
   border-top: none;
   margin-bottom: 14px;
}

.map-section iframe {
    width: 100%;
    height: auto;     
    border: none;
}

.map-section iframe {
   width: 100%;
   height: 200px;
   border-top: none;
   border-radius:5px;
}

/* Quick Link */
.quick-links-grid{
    display:grid;
    grid-template-columns:repeat(2, 1fr); /* Mobile */
    gap:10px;
    width: 92%;
    margin: 0 auto;
}

@media (min-width: 768px){
    .quick-links-grid{
        grid-template-columns:repeat(4, 1fr);
    }
}

@media (min-width: 1024px){
    .quick-links-grid{
        grid-template-columns:repeat(8, 1fr);
    }
}

.link-card{
    display:flex;
    align-items:center;
    gap:5px;
    padding:5px;
    color: black;
    background: azure;
    border-bottom: 1px solid #007bff;
    border-radius:8px;
}

.link-card img{
    width:40px;
    height:auto;
    object-fit:contain;
}

.link-card h4{
    margin:0;
    color:#000;
    font-size:15px;
    font-weight: 550;
}

/* MAIN BUTTON EFFECT */
.card, .link-card{
     --hover: #00ff00;
    }
     .card:hover, .link-card:hover {
     animation: btn 0.5s;
     box-shadow: 0 0 4em 4em transparent;
     }

   @keyframes btn {
   0% {
   box-shadow: 0 0 0 0 var(--hover);
   }
     }

a {
  text-decoration: none;
  color: white;
}

/* Footer (Fixed at Bottom) */

footer {
    width: 100%;
    background: darkslategray;
    color: white;
    font-family: 'open sans';
    font-weight: 550;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}

footer .text {
   text-decoration: none;
   color: white;
   font-size: 13px;
   font-weight: 550;
}

footer a {
   text-decoration: none;
   color: lime;
   font-weight: 550
   margin-bottom: -10px;
}

/*popup admit card*/
.pac {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.pac-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  position: relative;
  animation: pop 0.3s ease;
}

@keyframes pop {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.pac-img {
   height: auto;
   width: 80%;
   border-radius: 5px;
}

.pac input {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid darkblue;
  border-radius: 5px;
}

.pac button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  margin-top: 10px; 
  border-radius: 5px;
  cursor: pointer;
}

.pac button:hover {
  background: #0056b3;
}

.pac-close {
  position: absolute;
  top: 10px;
  right: 18px;
  font-size: 30px;
  font-weight: 550;
  cursor: pointer;
  color: red;
}

.open-pac {
  margin: 40px;
  display: inline-block;
  padding: 12px 20px;
}